<div class="calendar">
  <div class="header">
    <button (click)="previousMonth()">Wcześniejszy</button>
    <h2>{{ miesiac_jaki_mamy }}</h2>
    <button (click)="nextMonth()">Następny</button>
  </div>
  <div class="days">
    <div *ngFor="let day of daysOfWeek" class="day">{{ day }}</div>
  </div>
  <div class="grid">
    <!-- Display the leading spaces (empty cells) -->
    <div *ngFor="let cell of leadingSpaces" class="date empty-date">
      {{ cell.date ? cell.date.getDate() : '' }}
    </div>

    <!-- Display the dates for the current month -->
    <div *ngFor="let date of dates" class="date" [ngClass]="{
      'next-month-date': date.date && date.date.getMonth() !== currentMonth.getMonth(),
      'green-date': date.date && isDateInWydarzenia(date.date)
    }">
      {{ date.date ? date.date.getDate() : '' }}
    </div>
  </div>
</div>
