<div class="event-container">

    <div class="event-date"> 31.02.2023r | 01:00</div>
    <div class="event-description-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        saepe quod magnam cupiditate, esse optio, commodi non ducimus doloremque impedit dolor mollitia
        maiores itaque dolore quaerat neque sapiente vel? Impedit.
        Doloribus, sapiente alias enim sunt magni obcaecati odio accusantium adipisci officiis
        necessitatibus fuga eum eaque sit molestiae quaerat voluptas sint vitae soluta dicta natus,
        accusamus optio praesentium excepturi illo. Dignissimos.
        Laudantium, quaerat impedit! Repellendus mollitia amet officiis, officia rem magnam facilis
        nostrum aspernatur sit tenetur, sed dolores eveniet sapiente. Quos similique error saepe, cum
        soluta architecto consequuntur repudiandae! Cupiditate, eos.
        Quos soluta unde odit ducimus? Debitis aperiam mollitia, ipsum doloremque quam illum officiis,
        atque sequi necessitatibus odit possimus, voluptatem ad! Ipsum neque autem nam accusamus,
        tempora magnam reprehenderit aliquid at?</div>

    <input type="button" class="event-delete" value="delete">
</div>