/* oryginalna paleta kolorów */
:root {
    --primary-bg-color: #1a203a;
    --secondary-bg-color: #4d5a93;
    --accent-color: #bcdced;
    --button-bg-color: #96ffff;
    --button-hover-color: #79e2e2;
    --button-active-color: #5eb4b4;
    --popup-bg-color: rgba(0, 0, 0, 0.5);
    --event-item-border: rgb(188, 220, 237);
    --popup-content-bg-color: white;
    --close-button-color: #888;
    --close-button-hover-color: #000;
    --event-delete-button:#f55944;
}
/* do zmian */
:root {
    /* <main stuff> */
    --primary-bg-color: #505f66c9; /* kolor tła */
    --secondary-bg-color: #cacaca; /* kolor ramki wokół opisu i background current events */
    --accent-color: rgb(145, 159, 167); /* background tytułu i opisu */
    --button-bg-color: #72d859;
    --button-hover-color: #60b460;
    --button-active-color: #588a54;
    /* </main stuff> */
    /* <event items> */
    --event-item-border: rgb(221, 230, 235);
    --close-button-hover-color: #000;
    --event-delete-button:#f55944;
    /* </event items> */
    /* <app-calendar> */
    --popup-bg-color: #00000080;
    --popup-content-bg-color: white;
    --close-button-color: #888;
    /* </app-calendar> */
}