<div class="container">

    <div>
        <form (ngSubmit)="getValues(Form.value)" #Form="ngForm">
            <div class="title">
                <input type="text" name="nazwa" maxlength="40" class="title-input" placeholder="tytuł"
                    [(ngModel)]="title">
            </div>
            <div class="data-inputs">
                <div class="data-element">
                    <p>Data</p><input name="data" type="date" [(ngModel)]="currentDate"
                        (ngModelChange)="onDateChange($event)">
                </div>
                <div class="data-element">
                    <p>Cały dzień?</p>
                    <!-- <input type="checkbox" class="hour-able" >
                    <input name="godzina" type="time" [(ngModel)]="currentHour"(ngModelChange)="onHourChange($event)"> -->
                    <input type="checkbox" class="hour-able" [(ngModel)]="disableInput"
                        [ngModelOptions]="{standalone: true}">
                    <input name="godzina" type="time" [(ngModel)]="currentHour" [disabled]="disableInput"
                        (ngModelChange)="onHourChange($event)">


                </div>
            </div>
            <h1 class="title-center">Opis</h1>
            <div class="data-description">
                <textarea name="opis" class="description-input" placeholder="Opis wydarzenia (opcjonalne)"
                    [(ngModel)]="description"></textarea>
            </div>
            <div class="add"><button class="add-button">add</button></div>
        </form>
    </div>
    <div>
        <h1 class="title-center">Current events</h1>

        <!-- <app-event></app-event> -->
        <app-wczytaj-osoby></app-wczytaj-osoby>


    </div>
    <!-- dlatego co to czyta, to tylko do testów potem sie coś zroib -->
    <div><app-calendar></app-calendar></div>