.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--primary-bg-color);
    overflow: auto
}

.container>div {
    min-width: 300px;
    box-sizing: border-box;
    height: auto;
    flex: 1;
    padding: 1rem
}

.title {
    width: clamp(200px, 95%, 500px);
    height: 2rem;
    margin-inline: auto;
    overflow: hidden;
    border-radius: 10px
}

.title ::placeholder {
    text-align: center
}

.hour-able {
    height: 20px;
    width: 20px;
    border: none
}

input,
textarea {
    border: none;
    outline: 0
}

textarea {
    resize: none
}

.title-input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 0 10px;
    text-align: center;
    background-color: var(--accent-color)
}

.description-input {
    font-size: 15px;
    padding: 10px;
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    background-color: var(--accent-color);
    border-radius: 10px
}

.data-inputs {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 1.5rem
}

.data-inputs input {
    width: clamp(105px, 95%, 150px)
}

.data-element {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    text-align: center;
    padding: .5rem;
    width: clamp(110px, 32%, 170px);
    color: #241b1b
}

.data-element p {
    font-size: 20px;
    margin: 0
}

.title-center {
    color: var(--text-color);
    text-align: center;
    margin: 1rem 0
}

.events {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    height: clamp(200px, 50%, 600px);
    width: clamp(200px, 75%, 700px);
    margin-inline: auto;
    overflow-y: auto
}

.add-button {
    background-color: var(--button-bg-color);
    padding: 10px;
    border-radius: 10px;
    margin-top: 1rem;
    justify-content: center;
    width: 100px;
    color: var(--text-color);
    font-size: 15px;
    border: none;
    transition: all 0.25s ease-in-out; 
}

.add-button:hover {
    background-color: var(--button-hover-color)
}

.add-button:active {
    background-color: var(--button-active-color);
    width: 95px
}

.data-description {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    height: 500px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box
}

.add {
    display: flex;
    justify-content: center
}

@media only screen and (max-width:850px) {
    .container {
        flex-direction: column
    }

    .events {
        height: 400px;
        width: clamp(100px, 75%, 700px)
    }

    .title {
        width: clamp(100px, 95%, 500px)
    }

    .container>div {
        min-width: 150px;
        width: clamp(310px, 100%, 800px)
    }

    .data-description {
        height: 400px
    }
}
.inline-block {
    display: inline-block; /* Display divs next to each other */
    background-color: var(--button-bg-color);
    margin-top: 1rem;
    justify-content: center;
    width: 100px;
    color: var(--text-color);
    font-size: 15px;
    margin: 0 10px; 
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    text-decoration: none; 
    user-select: none;
    transition: all 0.25s ease-in-out; 
}
.inline-block:hover{
    cursor: pointer; 
    background-color: #60b460;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--popup-bg-color);
    z-index: 9999;
    transition: opacity .3s ease-in-out
}

.popup-container.active {
    display: block;
    opacity: 1
}

.open-calendar-button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 1s ease; 
}
.open-calendar-button:hover {
    transform: scale(1.2);
}