<div class="container">
    <div class="left">
        <form  #Form="ngForm">
            <div class="title">
                <input type="text" name="nazwa" maxlength="40" class="title-input" placeholder="tytuł"
                    [(ngModel)]="title">
            </div>
            <div class="data-inputs">
                <div class="data-element">
                    <p>Data</p><input name="data" type="date" [(ngModel)]="currentDate"
                        (ngModelChange)="onDateChange($event)">
                        <button class="open-calendar-button" (click)="toggleCalendar()">Open Calendar</button>
                </div>
                <div class="popup-container" [ngClass]="{ 'active': isCalendarVisible }">
                    <app-calendar (toggle)="toggleCalendar()" [isCalendarVisible]="isCalendarVisible" ></app-calendar>
                  </div>
                <div class="data-element">
                    <p>Cały dzień?</p>
                    <!-- <input type="checkbox" class="hour-able" >
                    <input name="godzina" type="time" [(ngModel)]="currentHour"(ngModelChange)="onHourChange($event)"> -->
                    <input type="checkbox" class="hour-able" [(ngModel)]="disableInput"
                        [ngModelOptions]="{standalone: true}">
                    <input name="godzina" type="time" [(ngModel)]="currentHour" [disabled]="disableInput"
                        (ngModelChange)="onHourChange($event)">
                </div>
            </div>
            <h1 class="title-center">Opis</h1>
            <div class="data-description">
                <textarea name="opis" class="description-input" placeholder="Opis wydarzenia (opcjonalne)"
                    [(ngModel)]="description"></textarea>
            </div>
            <div class="add"><button class="add-button" (click) = "getValues(Form.value)">add</button></div>
        </form>
    </div>
    <div>
        <h1 class="title-center">
            <div class="inline-block" (click) = "wlaczKal(2)">Current events</div>
            <div class="inline-block" (click) = "wlaczKal(1)">Calendar</div>
        </h1>
        
        
        <div *ngIf="pokaKalendarz">
            <app-calendar ></app-calendar>
        </div>
        <div *ngIf="!pokaKalendarz">
            <app-wczytaj-osoby></app-wczytaj-osoby>
        </div>
    </div>
    <!-- dlatego co to czyta, to tylko do testów potem sie coś zroib -->
    <!-- <app-calendar></app-calendar>  -->
