.events {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    width: 75%;
    height: 50rem;
    margin-inline: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.event-stay {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Ensure it appears above the scrolling content */

}

.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--button-hover-color);
    padding: 1rem;
    box-sizing: border-box
}

.event-title {
    text-align: center;
    font-size: 34px;
    margin: 0.5%;

}

input {
    border: none;
    outline: 0
}

.event-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--event-delete-button);
    color: #fff;
    box-sizing: border-box;
    width: 100px;
    border-radius: 10px
}

.event-delete:hover {
    background-color: #c23434
}

.event-delete:active {
    background-color: #a82121;
    
}

.event-date {
    color: rgb(12, 56, 166);
    font-size: 20px;
}

.event-description-2 {
    justify-content: justify;
    padding: 1rem;
    color: navy;
    word-wrap: break-word;
    max-width: 100%;
    font-weight: bold;

}

@media only screen and (max-width:400px) {
    .event-title {
        font-size: 25px
    }
}

.event-item {
    color: black;
    border: 3px solid var(--event-item-border);
    margin: 1%;
    border-radius: 10px;
    padding: 2%;
    font-size: 115%;
    word-wrap: break-word;
    background-color: var(--event-item-border);
    transition: all 0.5s ease-in-out; 
}

.event-item:hover {
    color: grey; 
    font-weight: bold;
    font-size: 130%;

}