<div class="events">
  <div class="event-stay">
  <div *ngIf="kliknietyJakisEvent">
<div class="event-container">

  <h1 class="event-title">{{ kliknietyEvent.nazwa }}</h1>

    <div class="event-date"> {{ kliknietyEvent.data }}</div>
    <div class="event-description-2">
      {{ kliknietyEvent.opis || "bez opisu" }}
    </div>
    <input type="button" class="event-delete" value="delete">
</div>
</div>
<div *ngIf="!kliknietyJakisEvent">
  </div>
</div>
<div class="event-scroll">
<div *ngIf="isDataLoaded">
    <div class = "event-item" *ngFor="let wydarzenie of wydarzenia"  (click)="logWydarzenieData(wydarzenie)"> <!--nie mma pojecia czemu ale działa ~Dawid 15.09.2023 00:49 -->
      <p >Data: {{ wydarzenie.data }} Godzina: {{ wydarzenie.godzina }} Nazwa: {{ wydarzenie.nazwa }} Opis: {{ wydarzenie.opis }}</p>
      <!-- <p>Godzina: {{ wydarzenie.godzina }}</p>
      <p>Nazwa: {{ wydarzenie.nazwa }}</p>
      <p>Opis: {{ wydarzenie.opis }}</p> -->
    
    </div>
  </div>
  
  <div *ngIf="!isDataLoaded">
    <p>Loading data...</p>
  </div>
</div>
</div>